<h1>Votre commande a été validé</h1>

<p> Merci pour votre commande <%= @order.user.first_name %> </p>
<p> Etant donnée que je ne sais pas mettre mes clé API sans que ce soit en clair tu ne recevras pas de mail à : <%= @order.user.email %> </p>
<p> Merci pour tes <%= @order.amount %> Euros </p>